<!-- About Section -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
          <span class="material-symbols-outlined">school</span>학력<br>
          전남대학교 소프트웨어공학과 졸업
        </p>
        <p>
          <span class="material-symbols-outlined">badge</span>자격증<br>
          정보처리기사, SQLD, AWS Certified Solutions Architect-Associate  
        </p>
        <p>
          <span class="material-symbols-outlined">emoji_events</span>수상경력<br>
          2022 캡스톤 디자인 산학연계 경진대회 은상<br>
          2022 광주 인공지능 문제해결 아이디어 공모전 장려상<br>
          SW중심대학 공동해커톤 후원기업상<br>
          제2회 오아시스 해커톤 특별상
        </p>
          Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete
          source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy
          customization.</p>
      </div>
      <div class="col-lg-4">
        <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or
          a graphic artist looking to share your projects, this template is the perfect starting point! </p>
      </div>
    </div>
  </div>
</section>
