<!-- About Section -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<style>
    .material-symbols-outlined {
        font-size: 50px;
        font-variation-settings:
          'FILL' 1,
          'wght' 400,
          'GRAD' 0,
          'opsz' 48
    }

    .icon {
        display: inline-block;
        margin: 15px;
    }

    .text {
        display: inline-block;
    }

    td {
        width: 30%;
    }

    table {
        width: 100%;
    }

    .title {
        font-size: 23px;
    }

    .content {
        font-size: 19px;
        margin-top: 8px;
    }
</style>
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <table>
        <tr>
            <td>
                <div class="icon">
                    <span class="material-symbols-outlined">person</span>
                </div>
                <div class="text">
                    <h2 class="title">이름</h2>
                    <p class="content">박민서</p>
                </div>
            </td>

            <td>
                <div class="icon">
                    <span class="material-symbols-outlined">calendar_month</span>
                </div>
                <div class="text">
                    <h2 class="title">생년월일</h2>
                    <p class="content">99.08.20</p>
                </div>
            </td>

            <td>
                <div class="icon">
                    <span class="material-symbols-outlined">location_on</span>
                </div>
                <div class="text">
                    <h2 class="title">주소지</h2>
                    <p class="content">광주광역시 북구</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="icon">
                    <span class="material-symbols-outlined">call</span>
                </div>
                <div class="text">
                    <h2 class="title">연락처</h2>
                    <p class="content">010-8901-3804</p>
                </div>
            </td>

            <td>
                <div class="icon">
                    <span class="material-symbols-outlined">mail</span>
                </div>
                <div class="text">
                    <h2 class="title">이메일</h2>
                    <p class="content">kjms0820@gmail.com</p>
                </div>
            </td>

            <td>
                <div class="icon">
                    <span class="material-symbols-outlined">school</span>
                </div>
                <div class="text">
                    <h2 class="title">학력</h2>
                    <p class="content">전남대학교<br>(소프트웨어공학과)</p>
                </div>
            </td>
        </tr>
    </table>
    </div>
  </div>
</section>
