<!-- Contact Section -->
<style>
  .box-full {
    width: 100%;
  }

  .box {
    width: 340px;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 3px 3px 3px 3px gray;
  }

  .box-title {
    font-size: 28px;
    color: #58b99d;
    text-align: center;
    background: #ffffff;
    font-style: bold;
  }

  .box-line {
    display: inline-block;
    vertical-align: top;
  }

  .box-img {
    width: 270px;
    margin-bottom: 20px;
    text-align: center;
  }
</style>
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Skills</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="box-full">
        <div class="box-line">
          <div class="box">
              <h3 class="box-title">Frontend</h3>
              <hr>
              <img class="box-img" src="img/html_css_js_logo.png" alt="html_css_js_logo"><br>
              <img class="box-img" src="img/bootstrap_logo.png" alt="bootstrap_logo">
          </div>
  
          <div class="box">
              <h3 class="box-title">Backend</h3>
              <hr>
              <img class="box-img" src="img/java_logo.png" alt="java_logo"><br>
              <img class="box-img" src="img/springboot_logo.png" alt="springboot_logo"><br>
              <img class="box-img" src="img/python_logo.png" alt="python_logo"><br>
              <img class="box-img" src="img/django_logo.png" alt="django_logo">
          </div>
  
          <div class="box">
              <h3 class="box-title">Deployment</h3>
              <hr>
              <img class="box-img" src="img/aws_logo.png" alt="aws_logo"><br>
              <img class="box-img" src="img/firebase_logo.png" alt="firebase_logo">
          </div>
        </div>
  
        <div class="box-line">
          <div class="box">
              <h3 class="box-title">Mobile App</h3>
              <hr>
              <img class="box-img" src="img/android_logo.png" alt="android_logo"><br>
              <img class="box-img" src="img/kotlin_logo.png" alt="kotlin_logo"><br>
              <img class="box-img" src="img/jetpack_logo.png" alt="jetpack_logo"><br>
              <img class="box-img" src="img/java_logo.png" alt="java_logo">
          </div>
  
          <div class="box">
              <h3 class="box-title">Database</h3>
              <hr>
              <img class="box-img" src="img/mysql_logo.png" alt="mysql_logo"><br>
              <img class="box-img" src="img/sqlite_logo.png" alt="sqlite_logo"><br>
              <img class="box-img" src="img/mariadb_logo.png" alt="mariadb_logo">
          </div>
        </div>
  
        <div class="box-line">
          <div class="box">
              <h3 class="box-title">Version Control</h3>
              <hr>
              <img class="box-img" src="img/git_logo.png" alt="git_logo"><br>
              <img class="box-img" src="img/github_logo.png" alt="github_logo">
          </div>
  
          <div class="box">
              <h3 class="box-title">Communication</h3>
              <hr>
              <img class="box-img" src="img/figma_logo.png" alt="figma_logo">
          </div>
  
          <div class="box">
              <h3 class="box-title">Certificate</h3>
              <hr>
              <img class="box-img" src="img/qnet_logo.png" alt="qnet_logo"><br>
              <img class="box-img" src="img/sqld_logo.png" alt="sqld_logo"><br>
              <img class="box-img" src="img/aws_certified_logo.png" alt="aws_certified_logo">
          </div>
        </div>
      </div>
    </div>  
  </div>
</section>
